[core]
  editor = lvim
  excludesfile = ~/.config/git/ignore
# COLORS
# ------
# Dracula Dark Theme
[color]
  ui = auto
[color "branch"]
  current = cyan bold reverse
  local = white
  plain =
  remote = cyan
[color "diff"]
  commit =
  func = cyan
  plain =
  whitespace = magenta reverse
  meta = white
  frag = cyan bold reverse
  old = red
  new = green
[color "grep"]
  context =
  filename =
  function =
  linenumber = white
  match =
  selected =
  separator =
[color "interactive"]
  error =
  header =
  help =
  prompt =
[color "status"]
  added = green
  changed = magenta 
  header =
  localBranch =
  nobranch =
  remoteBranch = cyan bold
  unmerged = magenta bold reverse
  untracked = red
  updated = green bold
[include]
  path = ~/.config/git/user
[includeIf "gitdir:~/code/work/"]
  path = ~/.config/git/smartthings
[credential]
  helper = store
[pull]
  rebase = false
  default = current
[init]
  defaultBranch = main
[push]
  default = current
